opentoutatice-addon-procedures/src/main/resources/schemas/arguments.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:nxs="http://www.nuxeo.org/ecm/project/schemas/osivia/models/procedure"
	targetNamespace="http://www.nuxeo.org/ecm/project/schemas/osivia/models/procedure">

	<xs:complexType name="argumentType">
		<xs:sequence>
			<xs:element name="argumentName" type="xs:string" />
			<xs:element name="argumentValue" type="xs:string" />
			<xs:element name="argumentType" type="xs:string" />
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="argumentsList">
		<xs:sequence>
			<xs:element name="argument" type="nxs:argumentType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>